@model IEnumerable<Common.article>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.articleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.article_name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.authorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.articleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.content)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.authorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imageUrl)
                </td>
                <td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { articleID = item.articleID }) |
                    <!--@Html.ActionLink("UploadImage", "UploadImage", new { articleID = item.articleID }) | -->
                    @Html.ActionLink("Delete", "Delete", new { articleID = item.articleID },
                new { onclick = "return window.confirm('Are you sure?')" })
                </td>
            </tr>
        }

    </table>

    <div>
        @if (TempData["Message"] != null)
        {
            <label>@TempData["Message"]</label>
        }
    </div>

</body>
</html>

